* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    background-color: #ffe;
    box-sizing: border-box;
}

h1 {
	color: #111;
	font-size: 4rem;
	font-weight: 50;
	text-align: center;
	margin: 1rem 0 3rem; 
	font-family: 'Lobster', cursive;
}

.title{
	color: blue;
	text-transform: uppercase;
	font-weight: 800;
}

.inputDiv{
	background: blue;
	height: 75px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.input{
    padding: 0.5rem 1rem;
    outline: none;
	border: none;
    height: 50px;
    border-radius: 10px;
    width: 500px;
    margin: 0.25rem;
    transition: .5s;
    font-size: 1.15rem;
    font-family: 'Hind Siliguri', sans-serif;
}

.add{
	outline: #111;
    border: currentColor;
    height: 50px;
    border-radius: 10px;
    width: 65px;
    font-size: 1rem;
    font-weight: bold;
    background-color: rgb(37, 175, 37);
    border: 0.15rem solid #111;
    color: #fff;
    cursor: pointer;
    margin: 0.25rem;
}

.add:hover{
	opacity: 0.7;
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 2rem;
    font-family: 'Hind Siliguri', sans-serif;
	background: black;
}

.item{
	padding: 0.5rem;
	width: 570px;
	height: 50px;
	border-radius: 10px;
	background: white;
	border: 0.05rem solid #111;
	margin-top: 2px;
	margin-bottom: 2px;
}

.item_input{
	background: none;
	outline: none;
	border: none;
	color: black;
	font-size: 1.4rem;
    font-weight: bold;
	width: 430px;
    font-family: 'Hind Siliguri', sans-serif;
}

.edit{
	position: relative;
	bottom: 3.5px;
	background: #0000ff;
	color: #fff;
	border-radius: 5px;
	height: 40px;
	font-size: 1rem;
	width: 45px;
    font-weight: bold;
	font-family: 'Hind Siliguri', sans-serif;
	margin: 0 0.5rem;
	cursor: pointer;
    border: 0.15rem solid #111;
}

.remove{
	position: relative;
	bottom: 3.5px;
	background: #e00;
	color: #fff;
	height: 40px;
	border-radius: 5px;
	font-size: 1rem;
	width: 45px;
    font-weight: bold;
	font-family: 'Hind Siliguri', sans-serif;
	cursor: pointer;
    border: 0.15rem solid #111;
}
